extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros").img-fluid
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil rerum, reprehenderit accusantium nisi facere totam blanditiis! Sit mollitia id itaque. Voluptatem harum ipsam enim dolor, beatae facere. Incidunt, autem aspernatur.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis sequi omnis sit aut et totam iure natus nesciunt. Repellendus et voluptatibus voluptates dolorem eaque eos dolores praesentium harum sunt. Qui?

                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo, cum blanditiis placeat laudantium sequi autem inventore voluptatem ea eaque nesciunt, ratione eveniet ut cumque odit vel provident exercitationem! Deserunt!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad").img-fluid.mb-4
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolores inventore debitis in a iusto voluptatum rerum explicabo asperiores, tempore aliquam, exercitationem modi. Ut eius, saepe dolores esse eum ab.
                .col-md-4    
                    img(src="img/icono_destinos.svg", alt="icono destinos").img-fluid.mb-4
                    h2.mb-4 Los Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolores inventore debitis in a iusto voluptatum rerum explicabo asperiores, tempore aliquam, exercitationem modi. Ut eius, saepe dolores esse eum ab.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios").img-fluid.mb-4
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, dolores inventore debitis in a iusto voluptatum rerum explicabo asperiores, tempore aliquam, exercitationem modi. Ut eius, saepe dolores esse eum ab.